*{
    color: rgb(8, 8, 8);
    background-image: url(https://fondosmil.com/fondo/52714.jpg);
    
    text-align: center;
    text-transform: uppercase;
    font-family: serif;
    padding: 20px;

}
